In [1]:
import pandas as pd
import sqlalchemy
from sqlalchemy import create_engine
from binance  import Client  #pip install python-binance
%run ./Binance_keys.ipynb
%load_ext sql
##%pip install SQLAlchemy --quiet

In [2]:
client = Client(api_key,api_secret)

In [3]:
engine = create_engine('sqlite:///Crypto_1h.db',echo=True)

In [6]:
def gethourdata(symbol, start):
    frame = pd.DataFrame(client.get_historical_klines(symbol,
                                                     '1m',
                                                     start))
    frame = frame[[0,1,2,3,4]]
    frame.columns =['Date','Open','High','Low','Close']
    frame.Date = pd.to_datetime(frame.Date, unit='ms')
    frame.set_index('Date', inplace=True)
    frame = frame.astype(float)
    return frame

In [7]:
#test
gethourdata('BTCUSDT','1 days ago UTC')

                         Open      High       Low     Close
Date
2024-01-21 07:41:00  41664.50  41664.51  41654.71  41654.72
2024-01-21 07:42:00  41654.72  41654.72  41651.10  41651.10
2024-01-21 07:43:00  41651.10  41651.11  41651.10  41651.11
2024-01-21 07:44:00  41651.10  41651.11  41651.10  41651.11
2024-01-21 07:45:00  41651.11  41654.72  41651.10  41654.72
...                       ...       ...       ...       ...
2024-01-22 07:36:00  41153.36  41153.36  41136.36  41136.37
2024-01-22 07:37:00  41136.36  41151.10  41132.00  41142.32
2024-01-22 07:38:00  41142.32  41142.32  41120.00  41120.00
2024-01-22 07:39:00  41120.01  41120.01  41054.28  41054.28
2024-01-22 07:40:00  41054.28  41067.52  41045.51  41067.51

[1440 rows x 4 columns]

In [8]:
#test coins
symbols = pd.read_csv('symbols.csv')
symbols

         name
0     XRPUSDT
1     TRXUSDT
2   WAVESUSDT
3     ZILUSDT
4     ONEUSDT
5     SOLUSDT
6    EGLDUSDT
7    AVAXUSDT
8    NEARUSDT
9    ROSEUSDT
10    EOSUSDT
11   ATOMUSDT
12   MANAUSDT
13    XEMUSDT
14   WAXPUSDT
15    LTCUSDT
16   IOTAUSDT
17   LINKUSDT
18    XMRUSDT
19  MATICUSDT
20   ALGOUSDT
21   SANDUSDT
22  SUSHIUSDT
23    KSMUSDT
24   AAVEUSDT
25  1INCHUSDT
26    ENJUSDT
27    ETCUSDT
28  THETAUSDT
29    NEOUSDT
30    XLMUSDT
31    YFIUSDT
32   BANDUSDT
33   KAVAUSDT
34  TFUELUSDT
35   BAKEUSDT
36    MKRUSDT
37    BTCUSDT
38    ETHUSDT
39    ADAUSDT
40    BNBUSDT

In [9]:
#get data function
for symbol in symbols.name:
    df = gethourdata (symbol,'80 days ago UTC')
    df.to_sql(symbol, engine)

2024-01-22 01:41:27,310 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-01-22 01:41:27,312 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("XRPUSDT")
2024-01-22 01:41:27,313 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-01-22 01:41:27,314 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("XRPUSDT")
2024-01-22 01:41:27,315 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-01-22 01:41:27,317 INFO sqlalchemy.engine.Engine
CREATE TABLE "XRPUSDT" (
	"Date" DATETIME,
	"Open" FLOAT,
	"High" FLOAT,
	"Low" FLOAT,
	"Close" FLOAT
)


2024-01-22 01:41:27,318 INFO sqlalchemy.engine.Engine [no key 0.00079s] ()
2024-01-22 01:41:27,327 INFO sqlalchemy.engine.Engine CREATE INDEX "ix_XRPUSDT_Date" ON "XRPUSDT" ("Date")
2024-01-22 01:41:27,328 INFO sqlalchemy.engine.Engine [no key 0.00117s] ()
2024-01-22 01:41:28,198 INFO sqlalchemy.engine.Engine INSERT INTO "XRPUSDT" ("Date", "Open", "High", "Low", "Close") VALUES (?, ?, ?, ?, ?)
2024-01-22 01:41:28,199 INFO sqlalchemy.engine.Engine [generated in 0.72690s] [('2023-11-03 07:41:00.000000', 0.5962, 0.5964, 0.5958, 0.5959), ('2023-11-03 07:42:00.000000', 0.5958, 0.5959, 0.5955, 0.5956), ('2023-11-03 07:43:00.000000', 0.5955, 0.5958, 0.5952, 0.5953), ('2023-11-03 07:44:00.000000', 0.5952, 0.5955, 0.595, 0.5952), ('2023-11-03 07:45:00.000000', 0.5951, 0.5955, 0.5948, 0.5955), ('2023-11-03 07:46:00.000000', 0.5955, 0.5955, 0.5951, 0.5955), ('2023-11-03 07:47:00.000000', 0.5955, 0.5959, 0.5954, 0.5958), ('2023-11-03 07:48:00.000000', 0.5958, 0.5961, 0.5958, 0.5961)  ... displaying 10 of 115201 total bound parameter sets ...  ('2024-01-22 07:40:00.000000', 0.5379, 0.5381, 0.5378, 0.5379), ('2024-01-22 07:41:00.000000', 0.5378, 0.5378, 0.5371, 0.5372)]
2024-01-22 01:41:28,577 INFO sqlalchemy.engine.Engine SELECT name FROM sqlite_master WHERE type='table' AND name NOT LIKE 'sqlite~_%' ESCAPE '~' ORDER BY name
2024-01-22 01:41:28,578 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-01-22 01:41:28,579 INFO sqlalchemy.engine.Engine COMMIT
2024-01-22 01:42:32,703 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-01-22 01:42:32,705 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("TRXUSDT")
2024-01-22 01:42:32,706 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-01-22 01:42:32,706 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("TRXUSDT")
2024-01-22 01:42:32,707 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-01-22 01:42:32,708 INFO sqlalchemy.engine.Engine
CREATE TABLE "TRXUSDT" (
	"Date" DATETIME,
	"Open" FLOAT,
	"High" FLOAT,
	"Low" FLOAT,
	"Close" FLOAT
)


2024-01-22 01:42:32,709 INFO sqlalchemy.engine.Engine [no key 0.00089s] ()
2024-01-22 01:42:32,724 INFO sqlalchemy.engine.Engine CREATE INDEX "ix_TRXUSDT_Date" ON "TRXUSDT" ("Date")
2024-01-22 01:42:32,724 INFO sqlalchemy.engine.Engine [no key 0.00079s] ()
2024-01-22 01:42:33,498 INFO sqlalchemy.engine.Engine INSERT INTO "TRXUSDT" ("Date", "Open", "High", "Low", "Close") VALUES (?, ?, ?, ?, ?)
2024-01-22 01:42:33,499 INFO sqlalchemy.engine.Engine [generated in 0.64402s] [('2023-11-03 07:42:00.000000', 0.09821, 0.09821, 0.09816, 0.09817), ('2023-11-03 07:43:00.000000', 0.09818, 0.09822, 0.09817, 0.09822), ('2023-11-03 07:44:00.000000', 0.09821, 0.09824, 0.09817, 0.09819), ('2023-11-03 07:45:00.000000', 0.09818, 0.09819, 0.09816, 0.09817), ('2023-11-03 07:46:00.000000', 0.09817, 0.09817, 0.09814, 0.09817), ('2023-11-03 07:47:00.000000', 0.09816, 0.09821, 0.09816, 0.09817), ('2023-11-03 07:48:00.000000', 0.09817, 0.09821, 0.09816, 0.0982), ('2023-11-03 07:49:00.000000', 0.09821, 0.09823, 0.09821, 0.09821)  ... displaying 10 of 115201 total bound parameter sets ...  ('2024-01-22 07:41:00.000000', 0.1091, 0.10911, 0.10909, 0.10909), ('2024-01-22 07:42:00.000000', 0.1091, 0.10911, 0.10909, 0.10909)]
2024-01-22 01:42:33,857 INFO sqlalchemy.engine.Engine SELECT name FROM sqlite_master WHERE type='table' AND name NOT LIKE 'sqlite~_%' ESCAPE '~' ORDER BY name
2024-01-22 01:42:33,857 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-01-22 01:42:33,858 INFO sqlalchemy.engine.Engine COMMIT
2024-01-22 01:43:38,227 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-01-22 01:43:38,229 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("WAVESUSDT")
2024-01-22 01:43:38,230 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-01-22 01:43:38,231 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("WAVESUSDT")
2024-01-22 01:43:38,231 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-01-22 01:43:38,233 INFO sqlalchemy.engine.Engine
CREATE TABLE "WAVESUSDT" (
	"Date" DATETIME,
	"Open" FLOAT,
	"High" FLOAT,
	"Low" FLOAT,
	"Close" FLOAT
)


2024-01-22 01:43:38,233 INFO sqlalchemy.engine.Engine [no key 0.00069s] ()
2024-01-22 01:43:38,241 INFO sqlalchemy.engine.Engine CREATE INDEX "ix_WAVESUSDT_Date" ON "WAVESUSDT" ("Date")
2024-01-22 01:43:38,242 INFO sqlalchemy.engine.Engine [no key 0.00115s] ()
2024-01-22 01:43:39,023 INFO sqlalchemy.engine.Engine INSERT INTO "WAVESUSDT" ("Date", "Open", "High", "Low", "Close") VALUES (?, ?, ?, ?, ?)
2024-01-22 01:43:39,024 INFO sqlalchemy.engine.Engine [generated in 0.64838s] [('2023-11-03 07:43:00.000000', 1.78, 1.781, 1.78, 1.781), ('2023-11-03 07:44:00.000000', 1.78, 1.78, 1.778, 1.78), ('2023-11-03 07:45:00.000000', 1.78, 1.78, 1.777, 1.778), ('2023-11-03 07:46:00.000000', 1.778, 1.778, 1.778, 1.778), ('2023-11-03 07:47:00.000000', 1.778, 1.78, 1.778, 1.78), ('2023-11-03 07:48:00.000000', 1.78, 1.782, 1.78, 1.781), ('2023-11-03 07:49:00.000000', 1.781, 1.781, 1.781, 1.781), ('2023-11-03 07:50:00.000000', 1.782, 1.783, 1.782, 1.782)  ... displaying 10 of 115201 total bound parameter sets ...  ('2024-01-22 07:42:00.000000', 2.318, 2.32, 2.318, 2.32), ('2024-01-22 07:43:00.000000', 2.321, 2.321, 2.318, 2.32)]
2024-01-22 01:43:39,469 INFO sqlalchemy.engine.Engine SELECT name FROM sqlite_master WHERE type='table' AND name NOT LIKE 'sqlite~_%' ESCAPE '~' ORDER BY name
2024-01-22 01:43:39,470 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-01-22 01:43:39,471 INFO sqlalchemy.engine.Engine COMMIT
2024-01-22 01:44:44,304 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-01-22 01:44:44,305 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("ZILUSDT")
2024-01-22 01:44:44,306 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-01-22 01:44:44,307 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("ZILUSDT")
2024-01-22 01:44:44,307 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-01-22 01:44:44,308 INFO sqlalchemy.engine.Engine
CREATE TABLE "ZILUSDT" (
	"Date" DATETIME,
	"Open" FLOAT,
	"High" FLOAT,
	"Low" FLOAT,
	"Close" FLOAT
)


2024-01-22 01:44:44,309 INFO sqlalchemy.engine.Engine [no key 0.00055s] ()
2024-01-22 01:44:44,324 INFO sqlalchemy.engine.Engine CREATE INDEX "ix_ZILUSDT_Date" ON "ZILUSDT" ("Date")
2024-01-22 01:44:44,324 INFO sqlalchemy.engine.Engine [no key 0.00073s] ()
2024-01-22 01:44:45,115 INFO sqlalchemy.engine.Engine INSERT INTO "ZILUSDT" ("Date", "Open", "High", "Low", "Close") VALUES (?, ?, ?, ?, ?)
2024-01-22 01:44:45,116 INFO sqlalchemy.engine.Engine [generated in 0.64670s] [('2023-11-03 07:44:00.000000', 0.01931, 0.01931, 0.01929, 0.01931), ('2023-11-03 07:45:00.000000', 0.0193, 0.0193, 0.0193, 0.0193), ('2023-11-03 07:46:00.000000', 0.01929, 0.01931, 0.01928, 0.01931), ('2023-11-03 07:47:00.000000', 0.01931, 0.01932, 0.01931, 0.01932), ('2023-11-03 07:48:00.000000', 0.01933, 0.01936, 0.01933, 0.01934), ('2023-11-03 07:49:00.000000', 0.01933, 0.01933, 0.01933, 0.01933), ('2023-11-03 07:50:00.000000', 0.01932, 0.01934, 0.01932, 0.01934), ('2023-11-03 07:51:00.000000', 0.01933, 0.01933, 0.01933, 0.01933)  ... displaying 10 of 115201 total bound parameter sets ...  ('2024-01-22 07:43:00.000000', 0.02132, 0.02132, 0.0213, 0.0213), ('2024-01-22 07:44:00.000000', 0.0213, 0.02132, 0.0213, 0.02131)]
2024-01-22 01:44:45,514 INFO sqlalchemy.engine.Engine SELECT name FROM sqlite_master WHERE type='table' AND name NOT LIKE 'sqlite~_%' ESCAPE '~' ORDER BY name
2024-01-22 01:44:45,515 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-01-22 01:44:45,516 INFO sqlalchemy.engine.Engine COMMIT
2024-01-22 01:45:49,905 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-01-22 01:45:49,907 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("ONEUSDT")
2024-01-22 01:45:49,908 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-01-22 01:45:49,908 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("ONEUSDT")
2024-01-22 01:45:49,909 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-01-22 01:45:49,910 INFO sqlalchemy.engine.Engine
CREATE TABLE "ONEUSDT" (
	"Date" DATETIME,
	"Open" FLOAT,
	"High" FLOAT,
	"Low" FLOAT,
	"Close" FLOAT
)


2024-01-22 01:45:49,910 INFO sqlalchemy.engine.Engine [no key 0.00042s] ()
2024-01-22 01:45:49,925 INFO sqlalchemy.engine.Engine CREATE INDEX "ix_ONEUSDT_Date" ON "ONEUSDT" ("Date")
2024-01-22 01:45:49,926 INFO sqlalchemy.engine.Engine [no key 0.00082s] ()
2024-01-22 01:45:50,823 INFO sqlalchemy.engine.Engine INSERT INTO "ONEUSDT" ("Date", "Open", "High", "Low", "Close") VALUES (?, ?, ?, ?, ?)
2024-01-22 01:45:50,824 INFO sqlalchemy.engine.Engine [generated in 0.76058s] [('2023-11-03 07:45:00.000000', 0.01197, 0.01197, 0.01196, 0.01197), ('2023-11-03 07:46:00.000000', 0.01196, 0.01196, 0.01195, 0.01195), ('2023-11-03 07:47:00.000000', 0.01196, 0.01197, 0.01195, 0.01196), ('2023-11-03 07:48:00.000000', 0.01196, 0.01197, 0.01196, 0.01196), ('2023-11-03 07:49:00.000000', 0.01196, 0.01197, 0.01196, 0.01196), ('2023-11-03 07:50:00.000000', 0.01196, 0.01197, 0.01196, 0.01197), ('2023-11-03 07:51:00.000000', 0.01197, 0.01198, 0.01197, 0.01198), ('2023-11-03 07:52:00.000000', 0.01198, 0.012, 0.01197, 0.012)  ... displaying 10 of 115201 total bound parameter sets ...  ('2024-01-22 07:44:00.000000', 0.01496, 0.01497, 0.01496, 0.01496), ('2024-01-22 07:45:00.000000', 0.01496, 0.01497, 0.01496, 0.01497)]
2024-01-22 01:45:51,234 INFO sqlalchemy.engine.Engine SELECT name FROM sqlite_master WHERE type='table' AND name NOT LIKE 'sqlite~_%' ESCAPE '~' ORDER BY name
2024-01-22 01:45:51,235 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-01-22 01:45:51,236 INFO sqlalchemy.engine.Engine COMMIT
2024-01-22 01:46:54,865 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-01-22 01:46:54,866 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("SOLUSDT")
2024-01-22 01:46:54,867 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-01-22 01:46:54,868 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("SOLUSDT")
2024-01-22 01:46:54,868 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-01-22 01:46:54,870 INFO sqlalchemy.engine.Engine
CREATE TABLE "SOLUSDT" (
	"Date" DATETIME,
	"Open" FLOAT,
	"High" FLOAT,
	"Low" FLOAT,
	"Close" FLOAT
)


2024-01-22 01:46:54,870 INFO sqlalchemy.engine.Engine [no key 0.00051s] ()
2024-01-22 01:46:54,877 INFO sqlalchemy.engine.Engine CREATE INDEX "ix_SOLUSDT_Date" ON "SOLUSDT" ("Date")
2024-01-22 01:46:54,878 INFO sqlalchemy.engine.Engine [no key 0.00090s] ()
2024-01-22 01:46:55,679 INFO sqlalchemy.engine.Engine INSERT INTO "SOLUSDT" ("Date", "Open", "High", "Low", "Close") VALUES (?, ?, ?, ?, ?)
2024-01-22 01:46:55,680 INFO sqlalchemy.engine.Engine [generated in 0.66574s] [('2023-11-03 07:46:00.000000', 38.86, 38.86, 38.81, 38.86), ('2023-11-03 07:47:00.000000', 38.85, 38.91, 38.85, 38.9), ('2023-11-03 07:48:00.000000', 38.91, 38.98, 38.91, 38.98), ('2023-11-03 07:49:00.000000', 38.98, 39.0, 38.95, 38.96), ('2023-11-03 07:50:00.000000', 38.95, 39.0, 38.95, 39.0), ('2023-11-03 07:51:00.000000', 39.0, 39.01, 38.95, 38.99), ('2023-11-03 07:52:00.000000', 39.0, 39.02, 38.99, 39.01), ('2023-11-03 07:53:00.000000', 39.01, 39.02, 38.97, 38.98)  ... displaying 10 of 115201 total bound parameter sets ...  ('2024-01-22 07:45:00.000000', 89.37, 89.45, 89.36, 89.43), ('2024-01-22 07:46:00.000000', 89.43, 89.43, 89.32, 89.37)]
2024-01-22 01:46:56,099 INFO sqlalchemy.engine.Engine SELECT name FROM sqlite_master WHERE type='table' AND name NOT LIKE 'sqlite~_%' ESCAPE '~' ORDER BY name
2024-01-22 01:46:56,100 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-01-22 01:46:56,100 INFO sqlalchemy.engine.Engine COMMIT
2024-01-22 01:48:01,279 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-01-22 01:48:01,281 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("EGLDUSDT")
2024-01-22 01:48:01,283 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-01-22 01:48:01,284 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("EGLDUSDT")
2024-01-22 01:48:01,285 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-01-22 01:48:01,287 INFO sqlalchemy.engine.Engine
CREATE TABLE "EGLDUSDT" (
	"Date" DATETIME,
	"Open" FLOAT,
	"High" FLOAT,
	"Low" FLOAT,
	"Close" FLOAT
)


2024-01-22 01:48:01,288 INFO sqlalchemy.engine.Engine [no key 0.00084s] ()
2024-01-22 01:48:01,304 INFO sqlalchemy.engine.Engine CREATE INDEX "ix_EGLDUSDT_Date" ON "EGLDUSDT" ("Date")
2024-01-22 01:48:01,305 INFO sqlalchemy.engine.Engine [no key 0.00095s] ()
2024-01-22 01:48:02,272 INFO sqlalchemy.engine.Engine INSERT INTO "EGLDUSDT" ("Date", "Open", "High", "Low", "Close") VALUES (?, ?, ?, ?, ?)
2024-01-22 01:48:02,272 INFO sqlalchemy.engine.Engine [generated in 0.75985s] [('2023-11-03 07:47:00.000000', 32.76, 32.76, 32.75, 32.75), ('2023-11-03 07:48:00.000000', 32.75, 32.75, 32.75, 32.75), ('2023-11-03 07:49:00.000000', 32.73, 32.73, 32.73, 32.73), ('2023-11-03 07:50:00.000000', 32.73, 32.75, 32.73, 32.73), ('2023-11-03 07:51:00.000000', 32.73, 32.75, 32.73, 32.74), ('2023-11-03 07:52:00.000000', 32.75, 32.81, 32.75, 32.8), ('2023-11-03 07:53:00.000000', 32.78, 32.81, 32.77, 32.77), ('2023-11-03 07:54:00.000000', 32.73, 32.75, 32.73, 32.75)  ... displaying 10 of 115202 total bound parameter sets ...  ('2024-01-22 07:47:00.000000', 52.07, 52.07, 52.07, 52.07), ('2024-01-22 07:48:00.000000', 52.07, 52.07, 52.07, 52.07)]
2024-01-22 01:48:02,775 INFO sqlalchemy.engine.Engine SELECT name FROM sqlite_master WHERE type='table' AND name NOT LIKE 'sqlite~_%' ESCAPE '~' ORDER BY name
2024-01-22 01:48:02,776 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-01-22 01:48:02,777 INFO sqlalchemy.engine.Engine COMMIT
2024-01-22 01:49:06,690 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-01-22 01:49:06,692 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("AVAXUSDT")
2024-01-22 01:49:06,693 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-01-22 01:49:06,694 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("AVAXUSDT")
2024-01-22 01:49:06,694 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-01-22 01:49:06,696 INFO sqlalchemy.engine.Engine
CREATE TABLE "AVAXUSDT" (
	"Date" DATETIME,
	"Open" FLOAT,
	"High" FLOAT,
	"Low" FLOAT,
	"Close" FLOAT
)


2024-01-22 01:49:06,696 INFO sqlalchemy.engine.Engine [no key 0.00071s] ()
2024-01-22 01:49:06,707 INFO sqlalchemy.engine.Engine CREATE INDEX "ix_AVAXUSDT_Date" ON "AVAXUSDT" ("Date")
2024-01-22 01:49:06,708 INFO sqlalchemy.engine.Engine [no key 0.00151s] ()
2024-01-22 01:49:07,597 INFO sqlalchemy.engine.Engine INSERT INTO "AVAXUSDT" ("Date", "Open", "High", "Low", "Close") VALUES (?, ?, ?, ?, ?)
2024-01-22 01:49:07,598 INFO sqlalchemy.engine.Engine [generated in 0.73908s] [('2023-11-03 07:49:00.000000', 11.8, 11.8, 11.79, 11.8), ('2023-11-03 07:50:00.000000', 11.8, 11.8, 11.79, 11.79), ('2023-11-03 07:51:00.000000', 11.8, 11.81, 11.78, 11.8), ('2023-11-03 07:52:00.000000', 11.79, 11.81, 11.79, 11.8), ('2023-11-03 07:53:00.000000', 11.81, 11.81, 11.78, 11.78), ('2023-11-03 07:54:00.000000', 11.78, 11.79, 11.77, 11.79), ('2023-11-03 07:55:00.000000', 11.79, 11.81, 11.79, 11.81), ('2023-11-03 07:56:00.000000', 11.8, 11.8, 11.79, 11.8)  ... displaying 10 of 115201 total bound parameter sets ...  ('2024-01-22 07:48:00.000000', 32.06, 32.07, 32.05, 32.05), ('2024-01-22 07:49:00.000000', 32.05, 32.05, 32.04, 32.04)]
2024-01-22 01:49:08,049 INFO sqlalchemy.engine.Engine SELECT name FROM sqlite_master WHERE type='table' AND name NOT LIKE 'sqlite~_%' ESCAPE '~' ORDER BY name
2024-01-22 01:49:08,050 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-01-22 01:49:08,051 INFO sqlalchemy.engine.Engine COMMIT
2024-01-22 01:50:14,141 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-01-22 01:50:14,143 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("NEARUSDT")
2024-01-22 01:50:14,144 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-01-22 01:50:14,145 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("NEARUSDT")
2024-01-22 01:50:14,145 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-01-22 01:50:14,146 INFO sqlalchemy.engine.Engine
CREATE TABLE "NEARUSDT" (
	"Date" DATETIME,
	"Open" FLOAT,
	"High" FLOAT,
	"Low" FLOAT,
	"Close" FLOAT
)


2024-01-22 01:50:14,147 INFO sqlalchemy.engine.Engine [no key 0.00064s] ()
2024-01-22 01:50:14,162 INFO sqlalchemy.engine.Engine CREATE INDEX "ix_NEARUSDT_Date" ON "NEARUSDT" ("Date")
2024-01-22 01:50:14,163 INFO sqlalchemy.engine.Engine [no key 0.00101s] ()
2024-01-22 01:50:14,979 INFO sqlalchemy.engine.Engine INSERT INTO "NEARUSDT" ("Date", "Open", "High", "Low", "Close") VALUES (?, ?, ?, ?, ?)
2024-01-22 01:50:14,980 INFO sqlalchemy.engine.Engine [generated in 0.67490s] [('2023-11-03 07:50:00.000000', 1.519, 1.521, 1.519, 1.52), ('2023-11-03 07:51:00.000000', 1.52, 1.521, 1.519, 1.52), ('2023-11-03 07:52:00.000000', 1.52, 1.521, 1.519, 1.52), ('2023-11-03 07:53:00.000000', 1.52, 1.523, 1.52, 1.521), ('2023-11-03 07:54:00.000000', 1.52, 1.521, 1.518, 1.52), ('2023-11-03 07:55:00.000000', 1.52, 1.522, 1.52, 1.522), ('2023-11-03 07:56:00.000000', 1.522, 1.522, 1.519, 1.521), ('2023-11-03 07:57:00.000000', 1.521, 1.521, 1.519, 1.519)  ... displaying 10 of 115201 total bound parameter sets ...  ('2024-01-22 07:49:00.000000', 2.905, 2.905, 2.899, 2.9), ('2024-01-22 07:50:00.000000', 2.898, 2.9, 2.898, 2.9)]
2024-01-22 01:50:15,406 INFO sqlalchemy.engine.Engine SELECT name FROM sqlite_master WHERE type='table' AND name NOT LIKE 'sqlite~_%' ESCAPE '~' ORDER BY name
2024-01-22 01:50:15,407 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-01-22 01:50:15,407 INFO sqlalchemy.engine.Engine COMMIT
2024-01-22 01:51:18,722 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-01-22 01:51:18,724 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("ROSEUSDT")
2024-01-22 01:51:18,724 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-01-22 01:51:18,725 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("ROSEUSDT")
2024-01-22 01:51:18,726 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-01-22 01:51:18,726 INFO sqlalchemy.engine.Engine
CREATE TABLE "ROSEUSDT" (
	"Date" DATETIME,
	"Open" FLOAT,
	"High" FLOAT,
	"Low" FLOAT,
	"Close" FLOAT
)


2024-01-22 01:51:18,727 INFO sqlalchemy.engine.Engine [no key 0.00061s] ()
2024-01-22 01:51:18,735 INFO sqlalchemy.engine.Engine CREATE INDEX "ix_ROSEUSDT_Date" ON "ROSEUSDT" ("Date")
2024-01-22 01:51:18,736 INFO sqlalchemy.engine.Engine [no key 0.00127s] ()
2024-01-22 01:51:19,897 INFO sqlalchemy.engine.Engine INSERT INTO "ROSEUSDT" ("Date", "Open", "High", "Low", "Close") VALUES (?, ?, ?, ?, ?)
2024-01-22 01:51:19,899 INFO sqlalchemy.engine.Engine [generated in 0.97473s] [('2023-11-03 07:51:00.000000', 0.05809, 0.05809, 0.05799, 0.05799), ('2023-11-03 07:52:00.000000', 0.05807, 0.05809, 0.05805, 0.05807), ('2023-11-03 07:53:00.000000', 0.05807, 0.05809, 0.05804, 0.05805), ('2023-11-03 07:54:00.000000', 0.05805, 0.0582, 0.05803, 0.05819), ('2023-11-03 07:55:00.000000', 0.0582, 0.05822, 0.05806, 0.05814), ('2023-11-03 07:56:00.000000', 0.05811, 0.05816, 0.05811, 0.05816), ('2023-11-03 07:57:00.000000', 0.05816, 0.05825, 0.05815, 0.05825), ('2023-11-03 07:58:00.000000', 0.05826, 0.05832, 0.05825, 0.05832)  ... displaying 10 of 115201 total bound parameter sets ...  ('2024-01-22 07:50:00.000000', 0.10007, 0.10007, 0.0999, 0.09991), ('2024-01-22 07:51:00.000000', 0.0999, 0.09993, 0.09984, 0.09984)]
2024-01-22 01:51:20,377 INFO sqlalchemy.engine.Engine SELECT name FROM sqlite_master WHERE type='table' AND name NOT LIKE 'sqlite~_%' ESCAPE '~' ORDER BY name
2024-01-22 01:51:20,378 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-01-22 01:51:20,379 INFO sqlalchemy.engine.Engine COMMIT

In [10]:
imported_=pd.read_sql("""SELECT name FROM sqlite_schema WHERE type='table'""",engine)

2024-01-22 02:25:31,857 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-01-22 02:25:31,858 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("SELECT name FROM sqlite_schema WHERE type='table'")
2024-01-22 02:25:31,859 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-01-22 02:25:31,860 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("SELECT name FROM sqlite_schema WHERE type='table'")
2024-01-22 02:25:31,860 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-01-22 02:25:31,861 INFO sqlalchemy.engine.Engine SELECT name FROM sqlite_schema WHERE type='table'
2024-01-22 02:25:31,861 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-01-22 02:25:31,863 INFO sqlalchemy.engine.Engine ROLLBACK

In [11]:
imported_

         name
0     XRPUSDT
1     TRXUSDT
2   WAVESUSDT
3     ZILUSDT
4     ONEUSDT
5     SOLUSDT
6    EGLDUSDT
7    AVAXUSDT
8    NEARUSDT
9    ROSEUSDT
10    EOSUSDT
11   ATOMUSDT
12   MANAUSDT
13    XEMUSDT
14   WAXPUSDT
15    LTCUSDT
16   IOTAUSDT
17   LINKUSDT
18    XMRUSDT
19  MATICUSDT
20   ALGOUSDT
21   SANDUSDT
22  SUSHIUSDT
23    KSMUSDT
24   AAVEUSDT
25  1INCHUSDT
26    ENJUSDT
27    ETCUSDT
28  THETAUSDT
29    NEOUSDT
30    XLMUSDT
31    YFIUSDT
32   BANDUSDT
33   KAVAUSDT
34  TFUELUSDT
35   BAKEUSDT
36    MKRUSDT
37    BTCUSDT
38    ETHUSDT
39    ADAUSDT
40    BNBUSDT